<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary py-2 px-2">
  <div class="container-fluid p-0">
    <div class="d-flex justify-content-between w-100">

      <a class="navbar-brand" href="#">ESports</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-topbar-navbar d-lg-none d-flex">
          <ul class="list-unstyled">
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/dashboard.svg" alt="" class="img-fluid">
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/beneficiery.svg" alt="" class="img-fluid">
                <span>Company</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/cms.svg" alt="" class="img-fluid">
                <span>Financial Info & Projection</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/setting.svg" alt="" class="img-fluid">
                <span>Executive Summary</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/master.svg" alt="" class="img-fluid">
                <span>Team Info</span>
              </a>
            </li>
          </ul>
        </div> -
        <form class="d-flex align-items-center justify-content-between w-100" role="search">
          <div class="dropdown">
            <div class="btn dropdown-toggle d-flex align-items-center gap-0" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="https://img.freepik.com/premium-vector/3d-simple-user-icon-isolated_169241-7140.jpg?w=740"
                alt="">
              <span class="user-title">Mr. Sanket Panchmind</span>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </form>


      </div>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-dark ">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100 gap-2">
      <a class="navbar-brand text-dark" href="#">ESPORTs</a>
      <div class="d-flex gap-2">

      <div class="dropdown ">
        <div class="d-flex align-items-center gap-2"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/user.png" alt="profile_manager" class="img-fluid profile_manager">
          <div class="d-flex flex-column gap-0">
            <p class="user-title mb-0">BHUM Tao</p>
            <small class="user-subtitle">Sr. Team Management Member</small>
          </div>
        </div>
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button> -->
        <ul class="dropdown-menu shadow-lg">
          <li><a class="dropdown-item" href="#">My Profile</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
      <button class="navbar-toggler d-lg-none d-block bg-white text-dark" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa-solid fa-bars text-dark"></i>
      </button>
    </div>
  </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ESPORTs</h5>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body p-0">
        <div class="mobile-topbar-navbar d-lg-none d-flex">
          <ul class="list-unstyled">
            <li>
              <a class="d-flex gap-4 text-decoration-none">
                <img src="../../../assets/dashboard.svg" alt="" class="img-fluid">
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/beneficiery.svg" alt="" class="img-fluid">
                <span>Company</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/cms.svg" alt="" class="img-fluid">
                <span>Financial Info & Projection</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/setting.svg" alt="" class="img-fluid">
                <span>Executive Summary</span>
              </a>
            </li>
            <li>
              <a class="d-flex gap-4">
                <img src="../../../assets/master.svg" alt="" class="img-fluid">
                <span>Team Info</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>