<div class="sidebar shadow-lg">
    <div class="sidebar-icons">
       <div class="header title-text">
        ESP
       </div>
        <ul class="list-unstyled">
            <li>
                <!-- <a ><span><i class="fa-solid fa-house"></i></span></a> -->
                <a ><img src="../../../assets/dashboard.svg" alt="" class="img-fluid"></a>
            </li>
            <li>
                <a ><img src="../../../assets/beneficiery.svg" alt="" class="img-fluid"></a>
            </li>
            <li>
                <a ><img src="../../../assets/cms.svg" alt="" class="img-fluid"></a>
            </li>
            <li>
                <a ><img src="../../../assets/setting.svg" alt="" class="img-fluid"></a>
            </li>
            <li>
                <a ><img src="../../../assets/master.svg" alt="" class="img-fluid"></a>
            </li>
        </ul>
    </div>
    <div class="sidebar-menus-list">
        <div class="title-text">E-Sports</div>
        <ul class="list-unstyled">
            <li>
                <a >Dashboard</a>
            </li>
            <li>
                <a >Company</a>
            </li>
            <li>
                <a >Financial Info & Projection</a>
            </li>
            <li>
                <a >Executive Summary</a>
            </li>
            <li>
                <a >Team Info</a>
            </li>
        </ul>
    </div>
</div>