html,
body {
    width: 100%;
    height: 100%;
    font-family: "Parkinsans", sans-serif;
}

.text-main {
    color: #007FFF;
}

.card .card-header {
    font-weight: bold;
    font-size: 1rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0 0 0;
    border: 0 !important;
    margin: 10px 0;
}

.card .card-header {
    border: 0;
    background-color: #007FFF !important;
    color: #fff !important;
}

::-webkit-scrollbar {
    width: 1em;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

@media only screen and (max-width: 479px) {
    .navbar {
        background-color: #fff !important;
        color: #000;
        // background-color: #007FFF !important;
    }
}