// // ************ tablist design ***************
// .card.recent-best-performers,
// .card.player-stats .card-body {
//     border: 0;
//     margin: 10px 0;
//     overflow-block: auto;
// }
// .card.player-stats{
//     border-radius: 0;
//     border: 0;
// }
// .card.player-stats .stats-count{
//     font-size: 1.2rem !important;
// }
// .player-img{
//     width: 100px;
// }
// .card.player-stats .card-body .player-nationality img {
//     width: 70px;
// }

// .card.player-stats .card-body .player-nationality .player-name {
//     font-size: 1rem;
//     font-style: normal;
//     font-weight: bold;
// }

// .card.player-stats .card-body .player-nationality .player-style {
//     font-size: 13px;
//     font-weight: 500;
// }
// .recent_best_performers span {
//     font-size: 0.85rem !important;
// }
// .recent_best_performers img {
//    width: 62px !important;
// }


// .card.recent-best-performers .card-body img {
//     width: 60px;
// }

// .card.recent-best-performers .card-body span {
//     font-size: 0.85rem;
//     font-weight: bold;
// }
// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
//     background-color: #6cb4ee96;
//     color: #000;
//     border-radius: 0;
//     height: 100%;
//     font-size: 0.85rem;
// }
// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
//     color: #fff;
//     background-color: #007FFF;
//     border-color: var(--bs-nav-tabs-link-active-border-color);
//     border-radius: 0;
// }



// @media only screen and (max-width:479px) {
//     .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
//         background-color: #6cb4ee96;
//         color: #000;
//         border-radius: 0;
//         height: 100%;
//         font-size: 0.65rem;
//     }
//     .card.player-stats .card-body .player-nationality img {
//         width: 80px;
//     }

//     .player-stats .player-img {
//         width: 70px;
//     }
// }



// // national logo animation


// .rotate-vert-center {
//     -webkit-animation: rotate-vert-center 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite alternate-reverse both;
//     animation: rotate-vert-center 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite alternate-reverse both;
// }

//  @-webkit-keyframes rotate-vert-center {
//     0% {
//       -webkit-transform: rotateY(0);
//               transform: rotateY(0);
//     }
//     100% {
//       -webkit-transform: rotateY(360deg);
//               transform: rotateY(360deg);
//     }
//   }
//   @keyframes rotate-vert-center {
//     0% {
//       -webkit-transform: rotateY(0);
//               transform: rotateY(0);
//     }
//     100% {
//       -webkit-transform: rotateY(360deg);
//               transform: rotateY(360deg);
//     }
//   }
// // ************ tablist design end ***************
  

// 2nd design
.main_card_header{
    background-color: transparent !important;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.form-label,
.form-data{
    margin: 0;
}
.form-label{
    color: #A9A9A9;
}

.form-data{
    color: #36454F;
}

.card .card-header img.player-img{
    width: 70%;
}
.card .card-header .player_name{
    color: #2224289e !important                 ;
}
.card .card-header .player_surname{
    color: #36454F !important;
    font-weight: bold;
    margin: 0;
}
.card .card-header .flag{
    width: 40px;
}
 .jersey_no{
    font-size:50px;
    font-style: italic;
    color: #2224289e;
}

.indiv_player_stats .cnt{
    font-size: 5rem;
    font-weight: bold;
}
.indiv_player_stats .cnt_words{
    color: #2224289e !important                 ;
    font-weight: 600;
}

.indiv_player_stats .short_career_history table thead,
.indiv_player_stats .short_career_history table tbody{
    font-size: 0.85rem !important;
    text-align: center;
}
.indiv_player_stats .short_career_history table tbody{
    max-height: 40vh;
    overflow-y: scroll;
}
.short_career_history table tr:nth-child(even){
    background-color: #99FFFF !important;
}
 .club_goals,
 .national_goals{
    font-size: 5rem !important;
    font-weight: bold;
}
.club_matches,
.national_matches{
    font-size: 1rem !important;
    color: #36454F;
    font-weight: 600;
}
.season_goals_section li .nav-link.active{
    color:  #007FFF;
    font-weight: 500;
    font-size: 0.85rem;
    border: 0;
    // color: #fff;
} 
.season_goals_section li .nav-link{
    font-weight: 500;
    background-color: transparent;
    font-size: 0.85rem;
    color: #00000077;
    border: 0;
} 

.card.short_career_history .card-body{
    height: 30vh !important;
    overflow-y: scroll;
}


.series_analysis .card-body table{
    font-size: 0.85rem;
}
.series_best_players table tbody td {
    font-size: 0.8rem;
    font-weight: 600;
}
.series_best_players table tbody td img{
    width: 30px;
}


// end


