<!-- tab list design -->
<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item w-50" role="presentation">
        <button class="nav-link active w-100" id="single-player" data-bs-toggle="tab" data-bs-target="#single-player-pane" type="button"
            role="tab" aria-controls="single-player-pane" aria-selected="true">Individual Player Stats</button>
    </li>
    <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100" id="team-stats" data-bs-toggle="tab" data-bs-target="#team-stats-pane" type="button"
            role="tab" aria-controls="team-stats-pane" aria-selected="false">Team's Stats </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="single-player-pane" role="tabpanel" aria-labelledby="single-player" tabindex="0">
        <div class="container-fluid px-1">
            <div class="row g-2">
                <div class="col-sm-8">
                    <div class="card player-stats">
                        <div class="card-body">
                            <div class="row align-items-center gx-2 gy-2">
                                <div class="col col-sm-4 order-2 order-lg-0">
                                    <div
                                        class="d-flex flex-lg-column align-items-lg-center flex-row-reverse w-100 justify-content-between player-nationality ">
                                        <img src="https://i1.wp.com/upload.wikimedia.org/wikipedia/en/thumb/8/8d/Cricket_India_Crest.svg/1200px-Cricket_India_Crest.svg.png?strip=all"
                                            alt="" class="img-fluid rotate-vert-center">
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-lg-center align-items-start">
                                            <div class="player-name">Lucas Hudda</div>
                                            <div class="player-style">Right Handed Batsman</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 order-3 order-lg-0">
                                    <div class="row gx-2 gy-3">
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">593</div>
                                                <small class="fw-bold small">Matches</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">12265</div>
                                                <small class="fw-bold small">Total Runs</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">75</div>
                                                <small class="fw-bold small">Centuries</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class=" stats-count text-main mb-0">197*</div>
                                                <small class="fw-bold small">Highest</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class=" stats-count text-main mb-0">57</div>
                                                <small class="fw-bold small">M.O.M</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">18</div>
                                                <small class="fw-bold small">Jersey Number</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto col-sm order-1 order-lg-0 text-center">
                                    <img src="../../../assets/user.png" alt="image" class="img-fluid player-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card recent_best_performers">
                        <div class="card-body">
                            <div class="mb-4">Recent Best Performers</div>
                            <div class="row">
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="team-stats-pane" role="tabpanel" aria-labelledby="team-stats" tabindex="0">...
    </div>
</div> -->

<!-- tab desgn end -->

<div class="card main_card">
    <div class="card-header">Dashboard</div>
    <div class="card-header main_card_header">
        <div class="row">
            <div class="col-sm-4 border-end">
                <div class="d-flex align-items-center gap-2">
                    <img src="../../../assets/young-male-hockey-player-with-stick-ice-court-white-wall.jpg" alt="" class="img-fluid player-img">
                    <div class="d-flex flex-column gap-0">
                        <div class="player_name">Krzystof </div>
                        <h4 class="player_surname">Piatek</h4>
                        <!-- <img src="../../../assets/india.png" alt="" class="flag img-fluid"> -->
                        <div class="jersey_no">#19</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 border-end">
                <div class="row gy-5">
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column gap-1">
                            <div class="form-label">Date of Birth</div>
                            <div class="form-data">17<sup>th</sup> March 1985, (34) </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column gap-1">
                            <div class="form-label">Position</div>
                            <div class="form-data">Center Forward</div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column justify-content-between gap-1">
                            <div class="form-label">IN. Matches</div>
                            <div class="form-data">
                                <div class="d-flex align-items-center ">
                                    <span>07</span>
                                    <img src="../../../assets/india.png" alt="" class=""
                                        style="width: 25px;margin-left:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column gap-1">
                            <div class="form-label">Place of Birth</div>
                            <div class="form-data">Arunachal Pradesh</div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column gap-1">
                            <div class="form-label">Team Coach</div>
                            <div class="form-data">A.P Sharma</div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="d-flex flex-column gap-1">
                            <div class="form-label">IN. Goals</div>
                            <div class="form-data">4</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <img src="../../../assets/india.png" alt="" class="img-fluid d-none d-lg-block">
            </div>
        </div>
    </div>
    <div class="card-body indiv_player_stats gy-5">
        <div class="row gx-2 gy-3">
            <div class="col-sm-3">
                <div class="card shadow-lg h-100 border-0 bg-transparent shadow-lg ">
                    <div class="card-header bg-transparent ">
                        Net Worth
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100 gap-0">
                            <div class="cnt">10</div>
                            <div class="cnt_words">Million Dollars</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card short_career_history border-0 bg-transparent shadow-lg">
                    <div class="card-header">Shortend Career History</div>
                    <div class="card-body p-0 overflow-x-scroll">
                        <table class="w-100 table">
                            <thead>
                                <tr>
                                    <th scope="col">Year</th>
                                    <th scope="col">Club / Country</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Matches</th>
                                    <th scope="col">Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                                <tr>
                                    <td>2023 - Present</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid"
                                            style="width: 25px;">
                                    </td>
                                    <td>F.C. Arunachal Pradesh</td>
                                    <td>07</td>
                                    <td>Center Forward</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card rounded-0 h-100 border-0 bg-transparent shadow-lg">
                    <div class="card-header border-0">Goals in Current Season</div>
                    <div class="card-body p-0 rounded-0">
                        <ul class="nav nav-tabs season_goals_section " id="myTab" role="tablist">
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link active w-100" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Club</button>
                            </li>
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">National</button>
                            </li>
                        </ul>
                        <div class="tab-content h-100" id="myTabContent">
                            <div class="tab-pane fade show active h-100" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <div class=" d-flex flex-column align-items-center justify-content-start h-100">
                                    <span class="club_goals">10</span>
                                    <div class="club_matches">7 Matches</div>
                                </div>
                            </div>
                            <div class="tab-pane fade h-100" id="profile-tab-pane" role="tabpanel"
                                aria-labelledby="profile-tab" tabindex="0">
                                <div class="d-flex flex-column align-items-center justify-content-start h-100">
                                    <span class="national_goals ">4</span>
                                    <div class="national_matches">4 Matches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card  w-100 h-100 series_analysis">
                    <div class="card-header">Series Analysis</div>
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">MatchDay</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">For</th>
                                    <th scope="col">Against</th>
                                    <th scope="col">Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>32</td>
                                    <td>H</td>
                                    <td>AC Milan</td>
                                    <td>Lazio (7.)</td>
                                    <td>1-0</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>H</td>
                                    <td>AC Milan</td>
                                    <td>Lazio (7.)</td>
                                    <td>1-0</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>H</td>
                                    <td>AC Milan</td>
                                    <td>Lazio (7.)</td>
                                    <td>1-0</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>H</td>
                                    <td>AC Milan</td>
                                    <td>Lazio (7.)</td>
                                    <td>1-0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card  w-100 series_best_players h-100">
                    <div class="card-header">Series Best Players</div>
                    <div class="card-body">

                        <table class="table h-100">
                            <!-- <thead>
                            <tr>
                                <th scope="col">Series Best Players</th>
                            </tr>
                        </thead> -->
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Fabio Z</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid">
                                    </td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Fabio Z</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid">
                                    </td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Fabio Z</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid">
                                    </td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Fabio Z</td>
                                    <td>
                                        <img src="../../../assets/india.png" alt="" class="img-fluid">
                                    </td>
                                    <td>21</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>